@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
  --color-primary: #FFFFFF;
  --color-secondary: #F6F6F9;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-text-tertiary: var(--color-secondary);
  --color-text\/tertiary: var(--color-secondary);
}

